@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0.7vw;
  height: 3.3vh;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(72, 52, 95);

}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d7e66;
}

td{
  padding: 1px;
  border: 0.1px solid purple;
  text-align: center;
  width: 10%;
  background-color:#334155;
}


thead{
  width: 100%;
}
tbody{
  width: 100%;
}
th{
  padding-bottom: 40px;
  border: 0.1px solid purple;
  text-align: center;
  background-color: #1e293b;
  
}

thead th:nth-child(1) {
  width:20%;
}

thead th:nth-child(2) {
  width:30%;
}

thead th:nth-child(3) {
  width:20%;
}

thead th:nth-child(4) {
  width:30%;
}


.flex-center{
@apply flex justify-center items-center
}

.Project-items-container {
  @apply w-[100%]  flex justify-center items-center 
  m-[2px] border-2  hover:shadow-md hover:shadow-slate-400;
}
.Project-items-contain {
  @apply h-[100%] w-[100%] p-2 flex flex-col lg:flex-row bg-slate-100;
}
.Project-form-container {
  @apply fixed z-40 p-1 top-[7%] left-0 right-0 bottom-[10%] md:top-[15%]
   md:left-[15%] md:bottom-[20%] h-[90%] w-[100%]  md:h-[85%] md:w-[70%]  
   flex flex-col justify-center items-center border-2 border-slate-500 bg-slate-700;
}

.Project-item-main {
  @apply h-[100%] flex w-[100%] flex-col lg:w-[70%] bg-slate-100;
}

.Project-item-details-main-container {
  @apply h-[100%] w-[100%] lg:w-[40%] bg-slate-300 flex md:justify-evenly items-center;
}
.Project-item-details-container {
  @apply h-[100%] w-[95%] md:w-[95%] bg-slate-300 flex flex-col md:justify-evenly border-2;
}

.Project-item-detail-item {
  @apply w-[90%] flex flex-col text-base  md:justify-center md:m-1 md:p-1;
}

.Project-item-detail-freq {
  @apply w-full flex  text-base  justify-start md:m-1 md:p-1 ;
}

.label-style {
  @apply w-full font-bold text-sm flex items-center justify-start;
}

.Project-item-detail-status {
  @apply flex p-1 m-1 border-black border rounded-lg bg-slate-600 text-white text-sm;
}

.Project-form-error{
@apply text-sm text-red-500

}

.shop-form-error{
  @apply text-sm text-black 
  
  }
.label-style {
    @apply w-full font-bold text-sm flex items-center justify-start;
  }
  